.toast {
  display: grid;
  grid-template-areas: 'icon title action' 'icon description action';
  grid-template-columns: auto 1fr auto;
  grid-auto-columns: auto;
  align-items: center;
  color: var(--base-color-1);
  background-color: var(--base-color-12);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-3);
  padding: var(--spacing-4) var(--spacing-5);
  border: var(--border);
  position: relative;
}

.toast:has(.icon) {
  grid-template-columns: auto 1fr auto;
  column-gap: var(--gap);
}

.icon {
  grid-area: icon;
}

.icon:empty {
  display: none;
}

.title {
  grid-area: title;
  font-weight: 700;
}

.description {
  grid-area: description;
}

.action {
  grid-area: action;
  border: 0;
  background: transparent;
}

.close {
  grid-area: action;
  display: none;
  color: currentColor;
}

.toast:hover .close {
  display: block;
  cursor: pointer;
}

.toast.success {
  color: var(--success-font-color);
  background: var(--success-color);
  border: 0;
}

.toast.error {
  color: var(--danger-font-color);
  background: var(--danger-color);
  border: 0;
}
