.toast {
  display: grid;
  grid-template-areas: 'icon title action' 'icon description action';
  grid-template-columns: auto 1fr auto;
  grid-auto-columns: auto;
  align-items: center;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-3);
  padding: var(--spacing-4) var(--spacing-5);
  border: var(--border);
  position: relative;
}

.toast:has(.icon) {
  grid-template-columns: auto 1fr auto;
  column-gap: var(--gap);
}

.icon {
  grid-area: icon;
}

.icon:empty {
  display: none;
}

.title {
  grid-area: title;
  color: var(--font-color);
  font-weight: 700;

}

.description {
  grid-area: description;
}

.action {
  grid-area: action;
  border: 0;
  background: transparent;
}

.close {
  display: none;
  color: currentColor;
  position: absolute;
  right: var(--spacing-3);
  top: 50%;
  transform: translateY(-50%);
}

.toast:hover .close {
  display: block;
  cursor: pointer;
}

.toast.info {
  color: var(--primary-font-color);
  background: var(--primary-color);
  border: 0;
}

.toast.error {
  color: var(--danger-font-color);
  background: var(--danger-color);
  border: 0;
}
