/** Reset styles **/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-inline-size: 100%;
}

input, button, textarea, select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: currentColor;
}

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  line-height: 1.25;
  text-wrap: balance;
  letter-spacing: -0.05ch;
}

p {
  margin-block: 1em;
}

ol, ul {
  list-style: none;
  padding-inline-start: 1.5em;
}

li {
  margin-block: 0.5em;
}

/** Global styles **/

html,
body {
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  color: var(--font-color);
  background: var(--background-color);
  min-height: 100vh;
}

a,
a:active,
a:visited {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  color: var(--font-color);
  background: var(--highlight-color);
  border-radius: var(--border-radius);
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5rem;
  padding: 20px;
}

pre code {
  color: var(--font-color);
  font-weight: 400;
  padding: 0;
  border: 0;
  background: transparent;
}
