html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
  background: var(--background-color);
  min-height: 100vh;
}

a,
a:active,
a:visited {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
