:where(html, body) {
  font-size: var(--font-size);
  background-color: var(--background-color);
}

:where(a, a:active, a:visited, a:hover) {
  text-decoration: none;
}

:where(a:hover) {
  color: var(--primary-color);
}

:where(input, textarea, select) {
  min-width: 240px;
}

:where(*) {
  color: var(--font-color);
  outline-color: var(--primary-color);
}
