:root {
  --gray1: #111111;
  --gray2: #191919;
  --gray3: #222222;
  --gray4: #2a2a2a;
  --gray5: #313131;
  --gray6: #3a3a3a;
  --gray7: #484848;
  --gray8: #606060;
  --gray9: #6e6e6e;
  --gray10: #7b7b7b;
  --gray11: #b4b4b4;
  --gray12: #eeeeee;

  --blue1: #0d1520;
  --blue2: #111927;
  --blue3: #0d2847;
  --blue4: #003362;
  --blue5: #004074;
  --blue6: #104d87;
  --blue7: #205d9e;
  --blue8: #2870bd;
  --blue9: #0090ff;
  --blue10: #3b9eff;
  --blue11: #70b8ff;
  --blue12: #c2e6ff;

  --red1: #191111;
  --red2: #201314;
  --red3: #3b1219;
  --red4: #500f1c;
  --red5: #611623;
  --red6: #72232d;
  --red7: #8c333a;
  --red8: #b54548;
  --red9: #e5484d;
  --red10: #ec5d5e;
  --red11: #ff9592;
  --red12: #ffd1d9;

  --green1: #0e1512;
  --green2: #121b17;
  --green3: #132d21;
  --green4: #113b29;
  --green5: #174933;
  --green6: #20573e;
  --green7: #28684a;
  --green8: #2f7c57;
  --green9: #30a46c;
  --green10: #33b074;
  --green11: #3dd68c;
  --green12: #b1f1cb;
}