/* Not used. This file is here so my IDE stops complaining about undeclared variables. */
:root {
  --display: ;
  --display-xs: ;
  --display-sm: ;
  --display-md: ;
  --display-lg: ;
  --display-xl: ;

  --position-xs: ;
  --position-sm: ;
  --position-md: ;
  --position-lg: ;
  --position-xl: ;

  --font-color-xs: ;
  --font-color-sm: ;
  --font-color-md: ;
  --font-color-lg: ;
  --font-color-xl: ;

  --font-size-xs: ;
  --font-size-sm: ;
  --font-size-md: ;
  --font-size-lg: ;
  --font-size-xl: ;

  --font-weight-xs: ;
  --font-weight-sm: ;
  --font-weight-md: ;
  --font-weight-lg: ;
  --font-weight-xl: ;

  --border-width-xs: ;
  --border-width-sm: ;
  --border-width-md: ;
  --border-width-lg: ;
  --border-width-xl: ;

  --border-radius-xs: ;
  --border-radius-sm: ;
  --border-radius-md: ;
  --border-radius-lg: ;
  --border-radius-xl: ;

  --shadow-xs: ;
  --shadow-sm: ;
  --shadow-md: ;
  --shadow-lg: ;
  --shadow-xl: ;

  --background-color-xs: ;
  --background-color-sm: ;
  --background-color-md: ;
  --background-color-lg: ;
  --background-color-xl: ;

  --align-xs: ;
  --align-sm: ;
  --align-md: ;
  --align-lg: ;
  --align-xl: ;

  --letter-spacing-xs: ;
  --letter-spacing-sm: ;
  --letter-spacing-md: ;
  --letter-spacing-lg: ;
  --letter-spacing-xl: ;

  --padding-xs: ;
  --padding-sm: ;
  --padding-md: ;
  --padding-lg: ;
  --padding-xl: ;

  --padding-x-xs: ;
  --padding-x-sm: ;
  --padding-x-md: ;
  --padding-x-lg: ;
  --padding-x-xl: ;

  --padding-y-xs: ;
  --padding-y-sm: ;
  --padding-y-md: ;
  --padding-y-lg: ;
  --padding-y-xl: ;

  --padding-top-xs: ;
  --padding-top-sm: ;
  --padding-top-md: ;
  --padding-top-lg: ;
  --padding-top-xl: ;

  --padding-right-xs: ;
  --padding-right-sm: ;
  --padding-right-md: ;
  --padding-right-lg: ;
  --padding-right-xl: ;

  --padding-bottom-xs: ;
  --padding-bottom-sm: ;
  --padding-bottom-md: ;
  --padding-bottom-lg: ;
  --padding-bottom-xl: ;

  --padding-left-xs: ;
  --padding-left-sm: ;
  --padding-left-md: ;
  --padding-left-lg: ;
  --padding-left-xl: ;
  
  --margin-xs: ;
  --margin-sm: ;
  --margin-md: ;
  --margin-lg: ;
  --margin-xl: ;

  --margin-x-xs: ;
  --margin-x-sm: ;
  --margin-x-md: ;
  --margin-x-lg: ;
  --margin-x-xl: ;

  --margin-y-xs: ;
  --margin-y-sm: ;
  --margin-y-md: ;
  --margin-y-lg: ;
  --margin-y-xl: ;

  --margin-top-xs: ;
  --margin-top-sm: ;
  --margin-top-md: ;
  --margin-top-lg: ;
  --margin-top-xl: ;

  --margin-right-xs: ;
  --margin-right-sm: ;
  --margin-right-md: ;
  --margin-right-lg: ;
  --margin-right-xl: ;

  --margin-bottom-xs: ;
  --margin-bottom-sm: ;
  --margin-bottom-md: ;
  --margin-bottom-lg: ;
  --margin-bottom-xl: ;

  --margin-left-xs: ;
  --margin-left-sm: ;
  --margin-left-md: ;
  --margin-left-lg: ;
  --margin-left-xl: ;

  --gap-xs: ;
  --gap-sm: ;
  --gap-md: ;
  --gap-lg: ;
  --gap-xl: ;

  --gap-x-xs: ;
  --gap-x-sm: ;
  --gap-x-md: ;
  --gap-x-lg: ;
  --gap-x-xl: ;

  --gap-y-xs: ;
  --gap-y-sm: ;
  --gap-y-md: ;
  --gap-y-lg: ;
  --gap-y-xl: ;
  
  --width-xs: ;
  --width-sm: ;
  --width-md: ;
  --width-lg: ;
  --width-xl: ;

  --height-xs: ;
  --height-sm: ;
  --height-md: ;
  --height-lg: ;
  --height-xl: ;

  --min-width-xs: ;
  --min-width-sm: ;
  --min-width-md: ;
  --min-width-lg: ;
  --min-width-xl: ;

  --min-height-xs: ;
  --min-height-sm: ;
  --min-height-md: ;
  --min-height-lg: ;
  --min-height-xl: ;
  
  --max-width-xs: ;
  --max-width-sm: ;
  --max-width-md: ;
  --max-width-lg: ;
  --max-width-xl: ;

  --max-height-xs: ;
  --max-height-sm: ;
  --max-height-md: ;
  --max-height-lg: ;
  --max-height-xl: ;

  --flex-direction-xs: ;
  --flex-direction-sm: ;
  --flex-direction-md: ;
  --flex-direction-lg: ;
  --flex-direction-xl: ;

  --flex-wrap-xs: ;
  --flex-wrap-sm: ;
  --flex-wrap-md: ;
  --flex-wrap-lg: ;
  --flex-wrap-xl: ;

  --justify-content-xs: ;
  --justify-content-sm: ;
  --justify-content-md: ;
  --justify-content-lg: ;
  --justify-content-xl: ;

  --justify-items-xs: ;
  --justify-items-sm: ;
  --justify-items-md: ;
  --justify-items-lg: ;
  --justify-items-xl: ;

  --justify-self-xs: ;
  --justify-self-sm: ;
  --justify-self-md: ;
  --justify-self-lg: ;
  --justify-self-xl: ;

  --align-content-xs: ;
  --align-content-sm: ;
  --align-content-md: ;
  --align-content-lg: ;
  --align-content-xl: ;

  --align-items-xs: ;
  --align-items-sm: ;
  --align-items-md: ;
  --align-items-lg: ;
  --align-items-xl: ;

  --align-self-xs: ;
  --align-self-sm: ;
  --align-self-md: ;
  --align-self-lg: ;
  --align-self-xl: ;

  --grid-template-columns-xs: ;
  --grid-template-columns-sm: ;
  --grid-template-columns-md: ;
  --grid-template-columns-lg: ;
  --grid-template-columns-xl: ;

  --grid-template-rows-xs: ;
  --grid-template-rows-sm: ;
  --grid-template-rows-md: ;
  --grid-template-rows-lg: ;
  --grid-template-rows-xl: ;

  --flex-basis-xs: ;
  --flex-basis-sm: ;
  --flex-basis-md: ;
  --flex-basis-lg: ;
  --flex-basis-xl: ;

  --flex-grow-xs: ;
  --flex-grow-sm: ;
  --flex-grow-md: ;
  --flex-grow-lg: ;
  --flex-grow-xl: ;

  --flex-shrink-xs: ;
  --flex-shrink-sm: ;
  --flex-shrink-md: ;
  --flex-shrink-lg: ;
  --flex-shrink-xl: ;

  --overflow-xs: ;
  --overflow-sm: ;
  --overflow-md: ;
  --overflow-lg: ;
  --overflow-xl: ;

  --overflow-x-xs: ;
  --overflow-x-sm: ;
  --overflow-x-md: ;
  --overflow-x-lg: ;
  --overflow-x-xl: ;

  --overflow-y-xs: ;
  --overflow-y-sm: ;
  --overflow-y-md: ;
  --overflow-y-lg: ;
  --overflow-y-xl: ;

  --order-xs: ;
  --order-sm: ;
  --order-md: ;
  --order-lg: ;
  --order-xl: ;
}
