:root {
  /* Fonts */

  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-7: 28px;
  --font-size-8: 36px;
  --font-size-9: 60px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --letter-spacing-1: -0.05em;
  --letter-spacing-2: -0.025em;
  --letter-spacing-3: 0;
  --letter-spacing-4: 0.025em;
  --letter-spacing-5: 0.05em;

  /* Spacing */

  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --spacing-7: 40px;
  --spacing-8: 48px;
  --spacing-9: 64px;
  --spacing-10: 80px;
  --spacing-11: 96px;
  --spacing-12: 128px;

  /* Borders */

  --border-size-1: 1px;
  --border-size-2: 2px;
  --border-size-3: 4px;
  --border-size-4: 8px;

  --border-radius-1: 2px;
  --border-radius-2: 4px;
  --border-radius-3: 8px;
  --border-radius-4: 16px;
  --border-radius-5: 9999px;

  /* Shadows */

  --box-shadow-1: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --box-shadow-2: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --box-shadow-3: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-4: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --box-shadow-5: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --box-shadow-6: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  /* Colors */

  --base-color-50: #fafafa;
  --base-color-100: #f5f5f5;
  --base-color-200: #e5e5e5;
  --base-color-300: #d4d4d4;
  --base-color-400: #a3a3a3;
  --base-color-500: #737373;
  --base-color-600: #525252;
  --base-color-700: #404040;
  --base-color-800: #262626;
  --base-color-900: #171717;
  --base-color-950: #0a0a0a;

  --base-color-gray: #8d8d8d;
  --base-color-mauve: #8e8c99;
  --base-color-slate: #8b8d98;
  --base-color-sage: #868e8b;
  --base-color-olive: #898e87;
  --base-color-sand: #8d8d86;

  --accent-color-gray: #8d8d8d;
  --accent-color-gold: #978365;
  --accent-color-bronze: #a18072;
  --accent-color-brown: #ad7f58;
  --accent-color-yellow: #ffe629;
  --accent-color-amber: #ffc53d;
  --accent-color-orange: #f76b15;
  --accent-color-tomato: #e54d2e;
  --accent-color-red: #e5484d;
  --accent-color-ruby: #e54666;
  --accent-color-crimson: #e93d82;
  --accent-color-pink: #d6409f;
  --accent-color-plum: #ab4aba;
  --accent-color-purple: #8e4ec6;
  --accent-color-violet: #6e56cf;
  --accent-color-iris: #5b5bd6;
  --accent-color-indigo: #3e63dd;
  --accent-color-blue: #0090ff;
  --accent-color-cyan: #00a2c7;
  --accent-color-teal: #12a594;
  --accent-color-jade: #29a383;
  --accent-color-green: #30a46c;
  --accent-color-grass: #46a758;
  --accent-color-lime: #bdee63;
  --accent-color-mint: #86ead4;
  --accent-color-sky: #7ce2fe;

  --success-color: var(--accent-color-green);
  --success-font-color: var(--base-color-50);

  --danger-color: var(--accent-color-red);
  --danger-font-color: var(--base-color-50);

  --warning-color: var(--accent-color-orange);
  --warning-font-color: var(--base-color-50);

  --active-color: var(--accent-color-blue);
  --active-font-color: var(--base-color-50);

  --inactive-color: var(--accent-color-gray);
  --inactive-font-color: var(--base-color-900);

  /* Global settings */

  --font-family: Inter, sans-serif;
  --font-family-code: 'JetBrains Mono', monospace;
  --font-size: var(--font-size-2);

  --border-radius: var(--border-radius-2);
  --border-width: var(--border-size-1);

  --gap: var(--spacing-3);

  --padding-x: var(--spacing-3);
  --padding-y: var(--spacing-2);
  --padding: var(--padding-y) var(--padding-x);

  --box-shadow: var(--box-shadow-1);

  --light-color: var(--base-color-50);
  --dark-color: var(--base-color-950);

  /* Theme settings */

  --background-color: #fff;

  --font-color: var(--base-color-950);
  --font-color-muted: var(--base-color-500);
  --font-color-disabled: var(--base-color-400);

  --border-color: var(--base-color-300);
  --border: var(--border-width) solid var(--border-color);

  --outline-color: var(--base-color-400);
  --outline: var(--border-width) solid var(--outline-color);

  --primary-color: var(--base-color-900);
  --primary-font-color: var(--base-color-50);

  --input-color: var(--base-color-100);
  --input-font-color: var(--font-color);
  --input-disabled-color: var(--base-color-100);

  --highlight-color: var(--base-color-50);
  --highlight-font-color: var(--font-color);

  [data-theme='dark'] {
    --background-color: #0f0f0f;

    --font-color: var(--base-color-200);
    --font-color-muted: var(--base-color-400);
    --font-color-disabled: var(--base-color-500);

    --border-color: var(--base-color-700);
    --border: var(--border-width) solid var(--border-color);

    --outline-color: var(--base-color-600);
    --outline: var(--border-width) solid var(--outline-color);

    --primary-color: var(--base-color-50);
    --primary-font-color: var(--base-color-900);

    --input-color: var(--base-color-700);
    --input-font-color: var(--font-color);
    --input-disabled-color: var(--base-color-800);

    --highlight-color: var(--base-color-800);
    --highlight-font-color: var(--font-color);
  }

  :where(input, textarea, select) {
    min-width: 240px;
  }

  :where(*) {
    outline-color: var(--primary-color);
  }
}
