html {
  box-sizing: border-box;
}

html, body {
  font-family: Inter, sans-serif;
  font-size: var(--text-size);
  line-height: 1.75rem;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background: var(--background-color);
}

input, textarea, button {
  font-family: inherit;
  font-size: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a, a:active, a:visited {
  color: var(--text-muted-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

pre {
  color: var(--text-color);
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5rem;
  padding: 20px;
  border-radius: 4px;
}
