html {
  box-sizing: border-box;
}

html,
body {
  font-family: Inter, sans-serif;
  font-size: var(--font-size);
  line-height: 1.75rem;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--font-color);
  background: var(--background-color);
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

code {
  color: var(--font-color);
  font-family: monospace;
  font-size: 12px;
  padding: var(--spacing-2);
  background: var(--highlight-color);
  border-radius: var(--border-radius);
  font-weight: 600;
}

pre {
  color: var(--font-color);
  background: var(--base-color-100);
  border-radius: var(--border-radius);
}

pre code {
  color: var(--font-color);
  font-weight: 400;
  padding: 0;
  background: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:active,
a:visited {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  color: var(--font-muted-color);
}

.docs {
  font-size: 16px;
}

.docs a {
  color: var(--font-color);
  font-weight: 600;
  text-decoration: underline var(--font-faded-color);
  text-underline-offset: 4px;
}

.docs a:hover {
  text-decoration: underline var(--font-color);
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

pre {
  color: var(--font-color);
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5rem;
  padding: 20px;
  border-radius: 4px;
}

*:focus {
  /*outline: none;*/
}
