html {
  box-sizing: border-box;
}

html, body {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 22px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

input, textarea, button {
  font-family: inherit;
  font-size: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a, a:active, a:visited {
  color: #646464;
  text-decoration: none;
}

a:hover {
  color: #202020;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

pre {
  color: #111;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5rem;
  padding: 20px;
  background-color: #eee;
  border-radius: 4px;
}