.field {
  position: relative;
  min-width: 240px;
}

.field, .row {
  position: relative;
}

.field[data-readonly] .input,
.field[data-disabled] .input {
  background: var(--base-color-4);
}

.input {
  font-size: var(--font-size);
  color: var(--font-color);
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  line-height: 1.5rem;
  width: 100%;
}

.input:focus {
  border-color: transparent;
  outline: var(--outline);
}

.input::placeholder {
  color: var(--font-color-muted);
}

.input:disabled {
  color: var(--font-color-muted);
}

.input::-webkit-search-cancel-button,
.input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.icon {
  color: var(--font-color-muted);
  background: var(--background-color);
}

.icon:hover {
  color: var(--font-color);
  cursor: pointer;
}
