.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: var(--gap-sm);
  font-size: var(--font-size);
  color: var(--font-color);
}

.item {
  width: 100%;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.accordion .button,
.accordion .button:hover {
  background-color: transparent;
  padding: var(--spacing-2) 0;
}

.icon {
  transition: transform 200ms;
}

.item[data-expanded] .icon {
  transform: rotate(90deg);
}

.panel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.panel.expanded {
  max-height: 500px;
  transition: max-height 0.5s ease-out;
}
