.accordion {
  width: 100%;
  background-color: var(--background-color);
}

.item {
  overflow: hidden;
  border-bottom: var(--border);
  padding-bottom: var(--spacing5)
}

.item[data-state="closed"] {
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  font-size: var(--font-size-lg);
}

.trigger {
  font-size: inherit;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
  flex: 1;
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.content {
  overflow: hidden;
}

.content[data-state='open'] {
  animation: accordion-slide-down 200ms ease-out;
}

.content[data-state='closed'] {
  animation: accordion-slide-up 200ms ease-out;
}

.icon {
  transform: rotate(90deg);
}

.trigger[data-state='open'] > .icon {
  transform: rotate(-90deg);
}

@keyframes accordion-slide-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-slide-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
