.banner {
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--font-color);
  background: var(--background-color);
  width: 100%;
  overflow: hidden;
  gap: var(--spacing-3);
}

.message {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-weight: 700;
}

.close {
  color: var(--font-muted-color);
}

.close:hover {
  color: var(--font-color);
  cursor: pointer;
}

.error {
  color: var(--light-color);
  background-color: var(--danger-bg-color);
  border: 0;
}

.error .close {
  color: var(--light-color);
}

.info {
  color: var(--primary-fg-color);
  background-color: var(--primary-bg-color);
  border: 0;
}

.info .close {
  color: var(--primary-fg-color);
}
