.banner {
  display: flex;
  align-items: center;
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--background-color);
  width: 100%;
  overflow: hidden;
  font-size: var(--font-size);
  color: var(--font-color);
  gap: var(--spacing-3);
}

.message {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-weight: 700;
}

.close {
  color: var(--font-color-muted);
}

.close:hover {
  color: var(--font-color);
  cursor: pointer;
}

.error {
  color: var(--danger-color);
  border: 1px solid var(--danger-color);
}

.error .close {
  color: var(--danger-color);
}

.start {
  text-align: start;
}

.end {
  text-align: end;
}

.center {
  text-align: center;
}
