.breadcrumbs {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: var(--font-size-md);
  gap: var(--gap);
  list-style: none;
}

.breadcrumbs .breadcrumb a {
  color: var(--font-muted-color);
  text-decoration: none;
  font-weight: 400;
  padding: var(--padding);
}

.breadcrumbs .breadcrumb a:hover {
  color: var(--font-color);
  text-decoration: none;
}

.icon {
  color: var(--font-muted-color);
}

.breadcrumb:last-child .icon {
  display: none;
}
