.button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: var(--gap);
  font-size: var(--font-size);
  font-family: inherit;
  font-weight: 500;
  color: var(--input-font-color);
  background: var(--base-color-3);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: var(--padding);
  position: relative;
  cursor: pointer;
  line-height: 1.5;
  --button-height: calc(1.5 * var(--font-size) + 2 * var(--padding-y))
}

.button:disabled {
  color: var(--font-color-muted);
  pointer-events: none;
}

.button:hover {
  color: var(--font-color);
  background: color-mix(in srgb, var(--base-color-3), 5% var(--dark-color));
}

.button[data-pressed] {
  background: color-mix(in srgb, var(--base-color-3), 10% var(--dark-color));
}

.button.variant-primary {
  color: var(--primary-font-color) !important;
  background: var(--primary-color);
}

.button.variant-primary:hover {
  background: color-mix(in srgb, var(--primary-color), 10% var(--primary-font-color));
}

.button.variant-primary[data-pressed] {
  background: color-mix(in srgb, var(--primary-color), 20% var(--primary-font-color));
}

.button.variant-primary:disabled {
  color: var(--primary-font-color);
  background: var(--base-color-9);
}

.button.variant-outline {
  background: var(--background-color);
  border: var(--border);
  box-shadow: var(--box-shadow-1);
}

.button.variant-outline:hover {
  border-color: var(--border-color-3);
}

.button.variant-outline[data-pressed] {
  background: var(--highlight-color);
}

.button.variant-outline:disabled {
  background: var(--base-color-2);
}

.button.variant-quiet {
  background: transparent;
}

.button.variant-quiet:hover {
  background: var(--highlight-color);
}

.button.variant-quiet[data-pressed] {
  background: color-mix(in srgb, var(--highlight-color), 5% var(--dark-color));
}

.button.variant-danger {
  color: var(--light-color);
  background: var(--danger-color);
}

.button.variant-danger:hover {
  background: color-mix(in srgb, var(--danger-color), 6% black);
}

.button.variant-danger[data-pressed] {
  background: color-mix(in srgb, var(--danger-color), 12% black);
}

.button.variant-danger:disabled {
  color: var(--primary-font-color);
  background: var(--base-color-8);
}

.button.variant-zero {
  border: 0;
  background: transparent;
}

.button.variant-zero:hover {
  background: transparent;
}

.button.variant-zero[data-pressed] {
  background: transparent;
}

.button.variant-zero:disabled {
  background: transparent;
}

.button.sm {
  font-size: calc(0.9 * var(--font-size));
  padding: calc(0.5 * var(--padding-y)) calc(0.75 * var(--padding-x));
  min-height: calc(0.9 * var(--button-height));
}

.button.md {
  font-size: var(--font-size);
  padding: var(--padding);
  min-height: var(--button-height);
}

.button.lg {
  font-size: calc(1.25 * var(--font-size));
  padding: var(--padding-y) calc(1.25 * var(--padding-x));
  min-height: calc(1.25 * var(--button-height));
}

.button.xl {
  font-size: calc(1.5 * var(--font-size));
  padding: calc(1.25 * var(--padding-y)) calc(1.25 * var(--padding-x));
  min-height: calc(1.5 * var(--button-height));
}

/* Links that have button styles */
body a.button {
  color: inherit;
  text-decoration: none;
}
