.button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: var(--gap);
  font-size: var(--font-size);
  font-family: inherit;
  font-weight: 500;
  color: var(--input-font-color);
  background: var(--input-color);
  border: 0;
  border-radius: var(--border-radius);
  padding: var(--padding);
  position: relative;
  cursor: pointer;
}

.button:disabled {
  color: var(--font-color-muted);
  pointer-events: none;
}

.button:hover {
  background: color-mix(in srgb, var(--input-color), 5% var(--dark-color));
}

.button[data-pressed] {
  background: color-mix(in srgb, var(--input-color), 10% var(--dark-color));
}

.button.primary {
  color: var(--primary-font-color) !important;
  background: var(--primary-color);
}

.button.primary:hover {
  background: color-mix(in srgb, var(--primary-color), 10% var(--dark-color));
}

.button.primary[data-pressed] {
  background: color-mix(in srgb, var(--primary-color), 20% var(--dark-color));
}

.button.primary:disabled {
  color: var(--primary-font-color);
  background: var(--base-color-9);
}

.button.outline {
  background: transparent;
  border: var(--border);
  box-shadow: var(--box-shadow-1);
}

.button.outline:hover {
  background: var(--highlight-color);
}

.button.outline[data-pressed] {
  background: color-mix(in srgb, var(--highlight-color), 5% var(--dark-color));
}

.button.quiet {
  background: transparent;
}

.button.quiet:hover {
  background: var(--highlight-color);
}

.button.quiet[data-pressed] {
  background: color-mix(in srgb, var(--highlight-color), 5% var(--dark-color));
}

.button.danger {
  color: var(--light-color);
  background: var(--danger-color);
}

.button.danger:hover {
  background: color-mix(in srgb, var(--danger-color), 6% black);
}

.button.danger[data-pressed] {
  background: color-mix(in srgb, var(--danger-color), 12% black);
}

.button.danger:disabled {
  color: var(--primary-font-color);
  background: var(--base-color-8);
}

.button.xs {
  font-size: calc(0.8 * var(--font-size));
  padding: calc(0.5 * var(--padding-y)) calc(0.75 * var(--padding-x));
}

.button.sm {
  font-size: calc(0.9 * var(--font-size));
  padding: calc(0.5 * var(--padding-y)) calc(0.75 * var(--padding-x));
}

.button.md {
  font-size: var(--font-size);
  padding: var(--padding);
}

.button.lg {
  font-size: calc(1.1 * var(--font-size));
  padding: var(--padding-y) calc(1.25 * var(--padding-x));
}

.button.xl {
  font-size: calc(1.3 * var(--font-size));
  padding: calc(1.25 * var(--padding-y)) calc(1.25 * var(--padding-x));
}

body a.button {
  color: inherit;
  text-decoration: none;
}
