.button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: var(--gap);
  font-size: var(--text-size);
  font-family: inherit;
  font-weight: 500;
  color: hsl(var(--foreground));
  background: hsl(var(--foreground) / calc(1 - 0.96));
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: var(--padding);
  position: relative;
  cursor: pointer;
}

.button:hover {
  background: hsl(var(--foreground) / calc(1 - 0.94));
}

.button:active {
  background: hsl(var(--foreground) / calc(1 - 0.92));
}

.button:disabled {
  color: var(--text-color3);
  pointer-events: none;
}

.button.primary {
  color: hsl(var(--primary-foreground));
  background: hsl(var(--primary-background));
}

.button.primary:hover {
  background: hsl(var(--primary-background) / calc(1 - 0.1));
}

.button.primary:active {
  background: hsl(var(--primary-background) / calc(1 - 0.2));
}

.button.primary:disabled {
  color: hsl(var(--primary-foreground) / calc(1 - 0.2));
  background: hsl(var(--base-color6));
}

.button.secondary {
  color: hsl(var(--secondary-foreground));
  background: hsl(var(--secondary-background));
  border: var(--border);
}

.button.secondary:hover {
  background: hsl(var(--accent-background));
}

.button.secondary:active {
  background: hsl(var(--accent-background) / calc(1 - 0.5));
}

.button.secondary:disabled {
  color: var(--text-color3);
}

.button.quiet {
  background: transparent;
}

.button.quiet:hover {
  background: hsl(var(--foreground) / calc(1 - 0.96));
}

.button.quiet:active {
  background: hsl(var(--foreground) / calc(1 - 0.92));
}

.button.danger {
  color: hsl(var(--danger-foreground));
  background: hsl(var(--danger-background));
}

.button.danger:hover {
  background: hsl(var(--danger-background) / calc(1 - 0.1));
}

.button.danger:active {
  background: hsl(var(--danger-background) / calc(1 - 0.2));
}

.button.danger:disabled {
  color: hsl(var(--primary-foreground) / calc(1 - 0.2));
  background: hsl(var(--base-color6));
}

.button.size1 {
  font-size: .8rem;
  padding: 0.5rem 0.75rem;
}

.button.size2 {
  font-size: .9rem;
  padding: 0.5rem 0.75rem;
}

.button.size3 {
  font-size: 1rem;
  padding: 0.75rem 1rem;
}

.button.size4 {
  font-size: 1.1rem;
  padding: 1rem 1.25rem;
}
