.calendar {
  width: fit-content;
  max-width: 100%;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-4);
}

.heading {
  flex: 1;
  margin: 0;
  text-align: center;
  font-size: var(--font-size);
  font-weight: 700;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
}

.headerCell {
  font-size: var(--font-size);
  font-weight: 700;
}

.cell {
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  outline: none;
  margin: 1px;
  forced-color-adjust: none;
}

.cell:hover {
  color: var(--highlight-fg-color);
  background: var(--highlight-bg-color);
}

.cell[data-outside-month] {
  display: none;
}

.cell[data-focus-visible] {
  outline: 2px solid var(--font-color);
  outline-offset: 2px;
}

.cell[data-selected] {
  color: var(--primary-fg-color);
  border-color: var(--primary-bg-color);
  background: var(--primary-bg-color);
}
