.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing3);
  color: var(--text-color1);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  height: 23px;
  width: 23px;
  transition: all 0.2s;
  cursor: pointer;
}

.icon {
  display: none;
}

.checkbox[data-selected] .box {
  color: hsl(var(--primary-foreground));
  background: hsl(var(--primary-background));
}

.checkbox[data-selected] .icon {
  display: block;
}

.checkbox[data-disabled] {
  color: var(--text-color3);
}

.checkbox[data-disabled] .box {
  background: hsl(var(--accent-background));
  cursor: not-allowed;
}