.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing3);
  color: var(--text-color);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  height: 23px;
  width: 23px;
  transition: all 0.2s;
  cursor: pointer;
}

.icon {
  display: none;
}

.checkbox[data-selected] .box {
  color: var(--primary-text-color);
  background: var(--primary-color);
}

.checkbox[data-selected] .icon {
  display: block;
}

.checkbox[data-indeterminate] .icon {
  display: block;
  background: var(--background-color);
}

.checkbox[data-disabled] {
  color: var(--text-faded-color);
}

.checkbox[data-disabled] .box {
  background: var(--hover-color);
  pointer-events: none;
}
