.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-md);
  color: var(--font-color);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  height: 23px;
  width: 23px;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.icon {
  display: none;
}

.checkbox[data-selected] .box {
  color: var(--primary-font-color);
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.checkbox[data-selected] .icon,
.checkbox[data-indeterminate] .icon {
  display: block;
}

.checkbox[data-indeterminate] .box {
  color: var(--font-color);
  background: var(--background-color);
}

.checkbox[data-disabled] {
  color: var(--font-muted-color);
}

.checkbox[data-disabled] .box {
  background: var(--input-disabled-color);
  pointer-events: none;
}

.checkbox[data-focused] .box,
.checkbox[data-focused-visible] .box {
  border-color: transparent;
  outline: var(--outline);
}
