.container {
  position: relative;
  background: var(--base-color-900);
  padding: var(--spacing-4) var(--spacing-5);
  border-radius: 6px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre.container code {
  font-family: var(--font-family-code), monospace;
  color: var(--base-color-300);
  padding: 0;
  border: 0;
  background: transparent;
}

.button {
  border: 0;
  position: absolute;
  right: var(--spacing-5);
  top: var(--spacing-4);
  cursor: pointer;
  background: transparent;
}

.copy {
  color: var(--base-color-200);
}

.copy:hover {
  color: var(--base-color-50);
}

.check {
  color: var(--success-color);
}
