.combobox {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border: var(--border);
  padding: var(--padding);
  border-radius: var(--border-radius);
}

.input {
  font-size: var(--font-size);
  border: none;
  outline: none;
	background-color: inherit;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
}

.list {
  margin-top: var(--padding-y);
  margin-left: calc(-1 * var(--padding-x));
  padding: var(--spacing-2);
  background-color: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-3);
  width: 260px;
}

.icon {
  cursor: pointer;
}
