.combobox {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.field {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--font-color);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.input {
  background: none;
  border: none;
  color: var(--font-color);
  padding: var(--padding);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  color: var(--font-color-disabled);
}

.list {
  box-shadow: var(--box-shadow-3);
}

.icon {
  color: var(--font-color-muted);
  margin-right: var(--spacing-2);
}

.icon:hover {
  color: var(--font-color);
  cursor: pointer;
}
