.combobox {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.field {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--text-color);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.input {
  background: none;
  border: none;
  color: var(--text-color);
  padding: var(--padding);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  color: var(--text-faded-color);
}

.list {
  box-shadow: var(--shadow3);
}

.icon {
  color: var(--text-muted-color);
  margin-right: var(--spacing2);
}

.icon:hover {
  color: var(--text-color);
  cursor: pointer;
}