.container {
  width: 100%;
  padding: 0 1rem;
}

.container.centered {
  margin: 0 auto;
}

.container.fluid {
  max-width: 100%;
  padding: 0;
}

@media (min-width: 520px) {
  .container {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1240px;
  }
}

@media (min-width: 1640px) {
  .container {
    max-width: 1600px;
  }
}
