.dialog {
  position: relative;
  padding: var(--spacing6);
  box-shadow: var(--shadow3);
  background: hsl(var(--background));
  border-radius: var(--border-radius);
}

.title {
  font-size: var(--text-size4);
}