.dialog {
  position: relative;
  outline: none;
}

.title {
  font-size: var(--font-size-4);
  font-weight: 700;
  margin-bottom: var(--spacing-3);
}

.modal {
  padding: var(--spacing-6);
  box-shadow: var(--box-shadow-4);
  background: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
}

.menu {
  padding: var(--spacing-3);
  box-shadow: var(--box-shadow-3);
  background: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
}

.sheet {
  background: var(--background-color);
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  z-index: 9999;
}
