.dialog {
  position: relative;
  padding: var(--spacing-6);
  box-shadow: var(--box-shadow-4);
  background: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  outline: none;
}

.title {
  font-size: var(--font-size-4);
  font-weight: 700;
  margin-bottom: var(--spacing-3);
}
