.field {
  display: flex;
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--background-color);
  box-shadow: var(--box-shadow-);
  position: relative;
}

.field[data-readonly],
.field[data-disabled] {
  background: var(--input-disabled-color);
}

.input {
  color: var(--font-color);
  border: 0;
  background: transparent;
  padding: var(--padding);
  line-height: 1.5rem;
  flex: 1;
}

.input::placeholder {
  color: var(--font-muted-color);
}

.input:disabled {
  color: var(--font-muted-color);
}

.input::-webkit-search-cancel-button,
.input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.icon {
  color: var(--font-muted-color);
}
