.image {
  display: block;
  width: 100%;
}

.centered {
  margin: 0 auto;
}

.fill {
  object-fit: fill;
  height: 100%;
}

.contain {
  object-fit: contain;
  height: 100%;
}

.cover {
  object-fit: cover;
  height: 100%;
}

.none {
  object-fit: none;
}

.scale-down {
  object-fit: scale-down;
  height: 100%;
}
