.edit {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.edit:hover .icon {
  display: block;
}

.icon {
  display: none;
  right: calc(-1 * var(--spacing5));
  position: absolute;
}