.field {
  display: flex;
  align-items: center;
  padding: 0 var(--padding-x);
  gap: var(--gap);
  font-family: inherit;
  font-size: var(--font-size);
  color: var(--font-color);
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  line-height: 1.5rem;
  position: relative;
}

.field input,
.field textarea {
  border: none;
  outline: none;
  padding: var(--padding-y) 0;
  background: transparent;
  flex: 1;

  &::placeholder {
    color: var(--font-color-muted);
  }

  &:disabled {
    color: var(--font-color-muted);
  }

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

.readonly,
.disabled {
  background: var(--base-color-2);
}

.field:focus-within {
  border-color: transparent;
  outline: var(--outline);
  outline-offset: -1px;

  &.readonly {
    border-color: var(--border-color);
    outline: none;
  }
}
