.list {
  min-width: 100px;
  outline: none;
  overflow: auto;
}

.separator {
  border-bottom: var(--border);
}

.section:not(:last-child) {
  margin-bottom: var(--spacing-4);
}

.header {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
  padding: var(--padding);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size);
  color: var(--font-color);
  padding: var(--padding);
  gap: var(--gap);
  min-width: 120px;
  cursor: pointer;
  outline: none;
  border-radius: var(--border-radius);
}

.item[data-disabled] {
  color: var(--font-color-disabled);
}

.item[data-focus],
.item[data-focus-visible] {
  background: var(--highlight-color);
}

.item:hover {
  background: var(--highlight-color);
}

.item[data-selected] {
  font-weight: bold;
}

.item[data-selected] .check {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.check {
  display: none;
}
