.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  background: var(--background-color);
  padding: var(--padding);
  gap: var(--gap);
  cursor: pointer;
}

.item:hover {
  background: var(--hover-color);
}

.item[data-selected] {
  font-weight: bold;
}

.item[data-selected] .check {
  display: block;
}

.check {
  display: none;
}
