.list {
  display: grid;
  outline: none;
  overflow: auto;
  gap: var(--spacing-1);
}

.separator {
  border-bottom: var(--border);
}

.section:not(:last-child) {
  margin-bottom: var(--spacing-4);
}

.header {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-bold);
  padding: var(--padding);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size);
  color: var(--font-color);
  padding: var(--padding);
  gap: var(--gap);
  min-width: 120px;
  cursor: pointer;
  outline: none;
  border-radius: var(--border-radius);
}

.item[data-disabled] {
  color: var(--font-color-disabled);
}

.item[data-focus],
.item[data-focus-visible] {
  background: var(--highlight-color);
}

.item:hover {
  background: var(--highlight-color);
}

.item[data-selected] {
  font-weight: bold;

  & .checkmark {
    display: flex;
    justify-content: flex-end;
  }
}

.checkmark {
  display: none;
}

.hideCheckmark .checkmark {
  display: none;
}

.fullscreen {
  display: block;
  padding: var(--spacing-3);
  border: 0;
  border-radius: 0;
  position: fixed;
  inset: 0;
  overflow: auto;
  z-index: 9999;
  background: var(--background-color);
}
