.menu {
  min-width: 200px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--spacing-2);
  box-shadow: var(--box-shadow-3);
  background: var(--background-color);
  overflow: hidden;
}

.separator {
  border-bottom: var(--border);
  margin: var(--spacing-2) calc(-1 * var(--spacing-3));
}

.section:not(:last-child) {
  margin-bottom: var(--spacing-4);
}

.header {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
  padding: var(--padding);
}

.item {
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: var(--font-size);
  color: var(--font-color);
  background: var(--background-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  cursor: pointer;
  outline: none;
  width: 100%;
}

.item[data-focus],
.item[data-focus-visible] {
  outline: var(--outline);
  background: var(--highlight-color);
}

.item:hover {
  background: var(--highlight-color);
}

.item[data-selected] {
  font-weight: bold;
}

.item[data-selected] .check {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.check {
  display: none;
}
