.menu {
  overflow: hidden;
  min-width: 200px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--spacing2);
  box-shadow: var(--box-shadow);
  background: var(--background-color);
}

.separator {
  border-bottom: var(--border);
}