.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay[data-entering] {
  animation: modal-fade 200ms;
}

.overlay[data-exiting] {
  animation: modal-fade 150ms reverse ease-in;
}

.modal {
  position: relative;
}

.modal[data-entering] {
  animation: modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}