.modal-overlay[data-entering] {
  animation: modal-fade-in 200ms;
}

.modal-overlay[data-exiting] {
  animation: modal-fade-in 200ms reverse ease-in;
}

.modal-center[data-entering] {
  animation: modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-left[data-entering] {
  animation: modal-left 200ms ease-out;
}

.modal-left[data-exiting] {
  animation: modal-left 200ms reverse ease-out;
}

.modal-right[data-entering] {
  animation: modal-right 200ms ease-out;
}

.modal-right[data-exiting] {
  animation: modal-right 200ms reverse ease-in;
}

.modal-top[data-entering] {
  animation: modal-top 200ms ease-out;
}

.modal-top[data-exiting] {
  animation: modal-top 200ms reverse ease-in;
}

.modal-bottom[data-entering] {
  animation: modal-bottom 200ms ease-out;
}

.modal-bottom[data-exiting] {
  animation: modal-bottom 200ms reverse ease-in;
}

.modal-fullscreen[data-entering] {
  animation: modal-fade-in 200ms ease-out;
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes modal-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes modal-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes modal-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes modal-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
