.nav {
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  color: var(--font-color);
  gap: var(--gap-lg);
}

.item {
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding: var(--padding);
  border-radius: var(--border-radius);
  font-weight: 700;
  cursor: default;
}

.item:hover {
  background: var(--highlight-color);
}

.nav .item > a,
.nav .item > a:hover {
  color: var(--font-color);
  text-decoration: none;
}

.icon {
  color: var(--font-muted-color);
}
