.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  gap: var(--gap);
  list-style: none;
  margin: 0;
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  border: 0;
  background: none;
}

.link {
  display: block;
  text-decoration: none;
}

.trigger,
.link {
  outline: none;
  user-select: none;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation-duration: 250ms;
  animation-timing-function: ease;
}
.content[data-motion="from-start"] {
  animation-name: enterFromLeft;
}
.content[data-motion="from-end"] {
  animation-name: enterFromRight;
}
.content[data-motion="to-start"] {
  animation-name: exitToLeft;
}
.content[data-motion="to-end"] {
  animation-name: exitToRight;
}
@media only screen and (min-width: 600px) {
  .content {
    width: auto;
  }
}

.indicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition:
      width,
      transform 250ms ease;
}
.indicator[data-state="visible"] {
  animation: fadeIn 200ms ease;
}
.indicator[data-state="hidden"] {
  animation: fadeOut 200ms ease;
}

.viewport {
  position: relative;
  transform-origin: top center;
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  height: var(--radix-navigation-menu-viewport-height);
  transition:
      width,
      height,
      300ms ease;
}
.viewport[data-state="open"] {
  animation: scaleIn 200ms ease;
}
.viewport[data-state="closed"] {
  animation: scaleOut 200ms ease;
}
@media only screen and (min-width: 600px) {
  .viewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

.wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100%;
  left: 0;
  perspective: 2000px;
}

.arrow {
  position: relative;
  top: 70%;
  background-color: white;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
