.navmenu {
  font-size: var(--font-size);
  width: 100%;
  gap: var(--spacing-2);
}

.item {
  gap: var(--gap);
  padding: var(--padding);
  border-radius: var(--border-radius);
  white-space: nowrap;
  overflow: hidden;
  transition: color 0.2s;

  & a {
    color: currentColor;
  }

  &:hover {
    color: var(--font-color);
  }

  &.selected {
    color: var(--font-color);
    font-weight: var(--font-weight-bold);
  }
}

.muted .item {
  color: var(--font-color-muted);
}

.muted .item:hover {
  color: var(--font-color);
}

.muted .item.selected {
  color: var(--font-color);
}

.title {
  color: var(--font-color);
  font-weight: var(--font-weight-bold);
}

.clickable {
  cursor: pointer;
}
