.field {
  display: flex;
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--background-color);
  box-shadow: var(--box-shadow-);
  gap: var(--spacing-2);
  position: relative;
}

.field[data-readonly],
.field[data-disabled] {
  background: var(--background-color);
}

.input {
  color: var(--font-color);
  border: 0;
  background: transparent;
  padding: var(--padding);
  line-height: 1.5rem;
}

.input::placeholder {
  color: var(--font-muted-color);
}

.input:disabled {
  color: var(--font-muted-color);
}

.icon {
  color: var(--font-muted-color);
  margin: 0 var(--spacing-3);
}
