.progressbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing3);
}

.track {
  height: 10px;
  background: var(--input-background-color);
  flex-basis: 100%;
  width: fit-content;
  border-radius: var(--border-radius);
  overflow: hidden;
  min-width: 100px;
}

.fill {
  background: var(--primary-color);
  height: 10px;
}

.value {
  font-weight: 700;
}
