.radiogroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  color: var(--font-color);
}

.radiogroup[data-orientation='vertical'] {
  flex-direction: column;
}

.radiogroup[data-orientation='horizontal'] {
  flex-direction: row;
}

.radio {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  font-size: var(--font-size);
  color: var(--font-color);
  forced-color-adjust: none;
}

.radio:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: var(--border);
  background: var(--background-color);
  border-radius: 20px;
  transition: all 200ms;
  box-shadow: var(--box-shadow);
}

.radio[data-pressed]:before {
  border-color: var(--border-color);
}

.radio[data-selected]:before {
  border-color: var(--primary-color);
  border-width: 7px;
}

.radio[data-selected][data-pressed]:before {
  border-color: var(--primary-color);
}

.radio[data-disabled] {
  color: var(--font-muted-color);
}

.radio[data-disabled]:before {
  background-color: var(--input-disabled-color);
}
