.radiogroup {
  display: grid;
  font-size: var(--font-size);
  color: var(--font-color);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.radiogroup[data-orientation='vertical'] .inputs {
  flex-direction: column;
}

.radiogroup[data-orientation='horizontal'] .inputs {
  flex-direction: row;
}

.radio {
  display: flex;
  align-items: center;
  gap: var(--gap);
  forced-color-adjust: none;
  cursor: pointer;
  transition: all 200ms;
}

.radiogroup.variant-circle {
  &[data-orientation='horizontal'] .inputs {
    gap: var(--spacing-6);
  }

  & .radio:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: var(--border);
    background: var(--background-color);
    border-radius: 20px;
    transition: all 200ms;
    box-shadow: var(--box-shadow);
  }

  & .radio[data-pressed]:before {
    border-color: var(--border-color);
  }

  & .radio[data-selected]:before {
    border-color: var(--primary-color);
    border-width: 7px;
  }

  & .radio[data-selected][data-pressed]:before {
    border-color: var(--primary-color);
  }

  & .radio[data-disabled] {
    color: var(--font-color-muted);
    cursor: default;
  }

  & .radio[data-disabled]:before {
    background-color: var(--base-color-3);
  }
}

.radiogroup.variant-box {
  & .radio {
    justify-content: center;
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--border-radius);
  }

  & .radio[data-pressed] {
    border-color: var(--border-color);
  }

  & .radio[data-selected] {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }

  & .radio[data-selected][data-pressed] {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }

  & .radio[data-disabled] {
    color: var(--font-color-muted);
    cursor: default;
  }

  & .radio[data-disabled] {
    background-color: var(--base-color-3);
  }
}
