.field {
  display: flex;
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  background: var(--background);
  box-shadow: var(--shadow);
  gap: var(--spacing2);
}

.field[data-readonly],
.field[data-disabled] {
  background: hsl(var(--accent-background));
}

.input {
  color: var(--text-color1);
  border: 0;
  background: transparent;
}

.input::placeholder {
  color: var(--text-color4);
}

.input:disabled {
  color: var(--text-color3);
}

.input::-webkit-search-cancel-button,
.input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.icon {
  color: var(--text-color3);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color3);
  border: none;
  background: none;
  cursor: pointer;
  border-radius: var(--border-radius4);
  padding: 0;
  margin: 0;
}

.button:hover {
  color: var(--text-color1);
}
