.select {
  width: 100%;
}

.button {
  width: 100%;
}

.value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.list {
  padding: var(--spacing-2);
  background-color: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-3);
  width: 260px;
}

.search {
  margin-bottom: var(--spacing-2);
}
