.button {
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  color: var(--font-color);
  gap: var(--gap);
  border: var(--border);
  padding: var(--padding);
  border-radius: var(--border-radius);
  background: var(--background-color);
  cursor: pointer;
}

.popover {
  min-width: 200px;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-3);
  background: var(--background-color);
  overflow: hidden;
}

.list > * {
  border-radius: 0;
}

.icon {
  color: var(--font-color-disabled);
}

.icon:hover {
  color: var(--font-color);
  cursor: pointer;
}

.search {
  border-bottom: var(--border);
  outline: none;
}

.search input {
  border: 0;
  box-shadow: none;
}

.search input[data-focused] {
  outline: none;
}
