.select {
  display: flex;
  align-items: center;
  color: var(--text-color1);
  background: var(--background);
}

.button {
  display: flex;
  align-items: center;
  color: var(--text-color1);
  font-size: var(--text-size);
  gap: var(--gap);
  border: var(--border);
  padding: var(--padding);
  border-radius: var(--border-radius);
  background: hsl(var(--background));
  cursor: pointer;
}

.list {
  overflow: hidden;
  min-width: 100px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.item {
  display: flex;
  align-items: center;
  color: var(--text-color1);
  background: hsl(var(--background));
  padding: var(--padding);
  cursor: pointer;
}

.item[data-selected="true"] {
  font-weight: bold;
}

.item:hover {
  background: hsl(var(--accent-background));
}