.modal {
  overflow: auto;
}

.sheet {
  position: absolute;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  z-index: 9999;
}

.sheet.left {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.sheet.right {
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.sheet.top {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.sheet.bottom {
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.sheet.fullscreen {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
