.sidebar {
  height: 100%;
  font-size: var(--font-size);
  border-right: 1px solid var(--border-color);
  width: var(--sidebar-expanded-width);
  overflow: hidden;
  transition: width 0.1s ease-out;
  --sidebar-expanded-width: 260px;
  --sidebar-collapsed-width: 68px;
}

.header {
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding: var(--padding);
}

.name {
  font-weight: var(--font-weight-bold);
}

.section {
  padding: var(--spacing-3);
  overflow: hidden;
}

.title {
  font-weight: var(--font-weight-bold);
}

.content {
  display: grid;
  min-height: 40px;
  gap: var(--gap);
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 40px;
  color: var(--font-color);
  gap: var(--gap);
  padding: var(--padding);
  border: 1px solid transparent;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

.item.selected {
  font-weight: var(--font-weight-bold);
}

.item:hover {
  color: var(--font-color);
}

.label {
  opacity: 1;
  width: 100%;
  transition: all 0.3s;
}

.collapsed {
  width: var(--sidebar-collapsed-width);
  transition: width 0.2s ease-in-out;
}

.collapsed .label {
  opacity: 0;
  width: 0;
  transition: all 0.3s;
}

.collapsed .item {
  gap: 0;
}

.muted .item {
  color: var(--font-color-muted);
}

.muted .item:hover {
  color: var(--font-color);
}

.muted .item.selected {
  color: var(--font-color);
}

.sidebar.noborder {
  border: 0;
}
