.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: var(--base-color-2);
  border-right: 1px solid var(--border-color);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding: var(--padding);
}

.name {
  font-weight: var(--font-weight-bold);
}

.section {
  padding: var(--spacing-3);
}

.title {
  font-weight: var(--font-weight-bold);
}

.content {
  display: grid;
  gap: var(--gap);
}

.item {
  color: var(--font-color-muted);
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding: var(--padding);
}

.item:hover {
  color: var(--font-color);
  background-color: var(--base-color-3);
}
