.sidenav {
  height: 100%;
  font-size: var(--font-size);
  background-color: var(--base-color-1);
  border-right: 1px solid var(--border-color);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding: var(--padding);
}

.name {
  font-weight: var(--font-weight-bold);
}

.section {
  padding: var(--spacing-3);
}

.title {
  font-weight: var(--font-weight-bold);
}

.content {
  display: grid;
  gap: var(--gap);
}

.item {
  color: var(--font-color-muted);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap);
  padding: var(--padding);
  cursor: pointer;
}

.item:hover {
  color: var(--font-color);
  background-color: var(--base-color-4);
}

.collapsed .label {
  display: none;
}

.collapsed {

}
