.statuslight {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.status,
.bg {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #fff;
  position: relative;
}

.status.success {
  background: var(--success-bg-color);
}

.status.warning {
  background: var(--warning-bg-color);
}

.status.error {
  background: var(--danger-bg-color);
}

.status.active {
  background: var(--active-bg-color);
}

.status.inactive {
  background: var(--inactive-bg-color);
}
