.statuslight {
  font-size: var(--font-size);
  color: var(--font-color);
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.status,
.bg {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #fff;
  position: relative;
}

.status.success {
  background: var(--success-color);
}

.status.warning {
  background: var(--warning-color);
}

.status.error {
  background: var(--danger-color);
}

.status.active {
  background: var(--active-color);
}

.status.inactive {
  background: var(--inactive-color);
}
