.switch {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gap);
  color: var(--text-color);
  --knob-size: 20px;
  --knob-border-size: 2px;
}

.track {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(var(--knob-size) * 2);
  height: var(--knob-size);
  border-radius: calc(var(--knob-size) + var(--knob-border-size) * 2);
  background: var(--input-background-color);
  transition: background-color 0.2s;
  cursor: pointer;
}

.knob {
  border: 2px solid var(--border-color);
  width: var(--knob-size);
  height: var(--knob-size);
  border-radius: 100%;
  background: var(--background-color);
  transition: all 0.2s;
}

.switch[data-selected] .track {
  border-color: var(--primary-color);
  background: var(--primary-color);
}

.switch[data-selected] .knob {
  margin-left: var(--knob-size);
  border-color: var(--primary-color);
}

.switch[data-disabled] {
  color: var(--text-faded-color);
  pointer-events: none;
}

.switch[data-disabled] .track {
  background: var(--input-background-color);
}

.switch[data-disabled] .knob {
  border-color: var(--input-background-color);
}