.switch {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.toggle {
  position: relative;
  width: 38px;
  height: 22px;
  border-radius: 22px;
  background: hsl(var(--input-background));
  transition: background-color 0.2s;
  cursor: pointer;
}

.toggle:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background: hsl(var(--background));
  transition: left 0.2s;
}

.switch[data-selected] .toggle {
  background: hsl(var(--primary-background));
}

.switch[data-selected] .toggle:before {
  left: 17px;
}

.switch[data-selected] .toggle {
  background: hsl(var(--primary-background));
}

.switch[data-disabled] .toggle,
.switch[data-disabled] .toggle:before {
  background: hsl(var(--foreground) / calc(1 - 0.8));
}

.switch[data-disabled] .label {
  color: var(--text-color3);
}