:root {
  --switch-knob-size: 16px;
  --switch-knob-border-size: 2px;
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  color: var(--font-color);
  gap: var(--gap);
}

.track {
  position: relative;
  display: flex;
  align-items: center;
  width: calc((var(--switch-knob-size) + var(--switch-knob-border-size)) * 2);
  height: calc(var(--switch-knob-size) + var(--switch-knob-border-size) * 2);
  border: var(--switch-knob-border-size) solid transparent;
  border-radius: calc(var(--switch-knob-size) + var(--switch-knob-border-size) * 2);
  background: var(--base-color-3);
  transition: background-color 0.2s;
  cursor: pointer;
  outline: 1px solid var(--border-color);

}

.knob {
  width: var(--switch-knob-size);
  height: var(--switch-knob-size);
  border-radius: 100%;
  background: var(--background-color);
  transition: all 0.2s;
  box-shadow: var(--box-shadow-2);
  outline: 1px solid var(--border-color);
}

.switch[data-selected] .track {
  outline-color: var(--primary-color);
  background: var(--primary-color);
}

.switch[data-selected] .knob {
  margin-left: var(--switch-knob-size);
  outline-color: var(--primary-color);
}

.switch[data-disabled] {
  color: var(--font-color-disabled);
  pointer-events: none;
}

.switch[data-disabled] .track {
  background: var(--base-color-3);
  outline-color: var(--base-color-3);
}

.switch[data-disabled] .knob {
  background: var(--base-color-1);
  outline-color: var(--base-color-1);
}
