.tabs {
  position: relative;
  width: 100%;
}

.tabs .list a.tab {
  font-weight: var(--font-weight-medium);
  text-decoration: none;
}

.list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  gap: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}

.list.quiet {
  border: 0;
}

.list .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  color: var(--font-color-muted);
  padding: var(--padding-y) 0;
  border-bottom: 2px solid transparent;
  user-select: none;
  margin: 0 0 -2px 0;
  cursor: pointer;
}

.tab:focus {
  outline: none;
}

.tab[data-hovered] {
  color: var(--font-color);
}

.tab[data-selected] {
  color: var(--font-color);
  border-bottom: 2px solid var(--primary-color);
}

.tab[data-disabled] {
  color: var(--font-color-disabled);
  cursor: default;
}
