.tabs {
  font-size: var(--font-size);
  color: var(--font-color);
  position: relative;
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
  gap: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}

.list.quiet {
  border: 0;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-muted);
  min-height: 3rem;
  border-bottom: 2px solid transparent;
  user-select: none;
  margin: 0 0 -2px 0;
  cursor: pointer;
}

.tab:focus {
  outline: none;
}

.tab:hover {
  color: var(--font-color);
}

.tab[data-selected] {
  color: var(--font-color);
  border-bottom: 2px solid var(--primary-color);
}

.tab[data-disabled] {
  color: var(--font-color-disabled);
  cursor: default;
}

.tab a {
  text-decoration: none;
}
