.copy {
  position: absolute;
  top: 9px;
  right: 9px;
  color: var(--text-muted-color);
  background: var(--background-color);
}

.copy:hover {
  color: var(--text-color);
  cursor: pointer;
}

.textarea {
  min-height: 60px;
  min-width: 140px;
}