.textarea {
  position: relative;
}

.textarea::-webkit-resizer {
  display: none;
}

.handle {
  color: var(--border-color);
  position: absolute;
  right: 2px;
  bottom: 2px;
  pointer-events: none;
}