.field {
  display: flex;
  align-items: center;
  padding: 0 var(--padding-x);
  gap: var(--gap);
  font-family: inherit;
  font-size: var(--font-size);
  color: var(--font-color);
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  line-height: 1.5rem;
  position: relative;

  &[data-readonly] {
    background: var(--base-color-2);
  }

  &[data-disabled] {
    color: var(--font-color-muted);
    background: var(--base-color-2);
  }

  &:focus-within {
    border-color: transparent;
    outline: var(--outline);
    outline-offset: -1px;

    &[data-readonly] {
      border-color: var(--border-color);
      outline: none;
    }
  }
}

.field input,
.field textarea {
  border: none;
  outline: none;
  padding: var(--padding-y) 0;
  background: transparent;
  width: 100%;
  flex: 1;

  &::placeholder {
    color: var(--font-color-muted);
  }

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

.icon {
  color: var(--font-color-muted);
  cursor: pointer;

  &:hover {
    color: var(--font-color);
  }
}

.novalue .icon {
  color: var(--font-color-disabled);
}

.textarea {
  padding: 0;

  & textarea {
    padding: var(--padding);
  }

  & .icon {
    position: absolute;
    top: var(--padding-x);
    right: var(--padding-x);
    z-index: 1;
  }
}

.resize-vertical textarea {
  resize: vertical;
}

.resize-horizontal textarea {
  resize: horizontal;
}

.resize-none textarea {
  resize: none;
}

.field.variant-quiet {
  padding: 0;
  border: 0;
  outline: none;
  box-shadow: none;

  & input:focus {
    border-bottom: var(--border);
  }
}
