.text {
  color: var(--font-color);
  line-height: 1.2em;
}

:where(.text) {
  font-size: var(--font-size);
}

.muted {
  color: var(--font-muted-color);
}

.faded {
  color: var(--font-faded-color);
}
