.group {
  display: inline-flex;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.item {
  color: var(--font-color);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  border: 0;
  cursor: pointer;
}

.item:not(:first-child) {
  border-left: var(--border);
}

.item:hover {
  background-color: var(--highlight-bg-color);
}

.item[data-state='on'] {
  font-weight: 700;
  background-color: var(--highlight-bg-color);
  font-size-adjust: 0.5;
}

.item:focus {
  position: relative;
}
