.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: var(--gap);
  font-size: var(--text-size);
  font-family: inherit;
  font-weight: 500;
  color: var(--text-color);
  background: transparent;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: var(--padding);
  position: relative;
  cursor: pointer;
}

.toggle:hover {
  background: var(--highlight-color);
}

.toggle[data-selected] {
  color: var(--primary-text-color);
  background: var(--primary-color);
}