.toggle {
  font-size: var(--font-size);
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: var(--gap);
  font-weight: 500;
  background: transparent;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: var(--padding);
  position: relative;
  cursor: pointer;
}

.toggle:hover {
  background: var(--highlight-color);
}

.toggle[data-selected] {
  color: var(--primary-font-color);
  background: var(--primary-color);
}

.toggle:focus {
  border-color: transparent;
  outline: var(--outline);
}
