.group {
  font-size: var(--font-size-md);
  color: var(--font-color);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  cursor: pointer;
  outline: none;
}

.item:not(:first-child) {
  border-left: var(--border);
}

.item:hover {
  background-color: var(--highlight-color);
}

.item[data-selected] {
  font-weight: 700;
  background-color: var(--highlight-color);
  font-size-adjust: 0.5;
}

