.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius);
  min-height: 300px;
  margin-bottom: 60px;
  padding: 30px 10px;
  gap: 20px;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}