.container {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: minmax(max-content, 200px) 1fr;
  width: 100%;
}

.docs {
  font-size: 16px;
  margin-bottom: 60px;
}

.docs > p {
  color: var(--base-color-600);
  line-height: 1.8;
}

.docs a {
  color: var(--font-color);
  font-weight: 600;
  text-decoration: underline var(--base-color-300);
  text-underline-offset: 4px;
}

.docs a:hover {
  text-decoration: underline var(--font-color);
}

.docs h2 {
  margin: 40px 0 1rem 0;
}

.docs h3 {
  margin: 30px 0 1rem 0;
}
