.menu {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px;
  min-width: 300px;
}

.item {
  display: flex;
}

.menu .selected a {
  color: var(--text-color2);
}