.item {
  display: flex;
}

.item a,
.item a:active,
.item a:visited {
  color: var(--font-color-muted);
}

.item a:hover,
.item.selected a {
  color: var(--font-color);
  text-decoration: underline;
  text-underline-offset: 4px;
}
