.menu {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 300px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.item {
  display: flex;
}

.item a {
  color: var(--font-muted-color);
}

.item a:hover {
  color: var(--font-color);
}

.item.selected a {
  color: var(--font-color);
  font-weight: 700;
}
