.item {
  display: flex;
}

.item a {
  color: var(--font-muted-color);
}

.item a:hover {
  color: var(--font-color);
}

.item.selected a {
  color: var(--base-color-700);
  text-decoration: underline;
  text-underline-offset: 4px;
}
