.zen-dot {
  border-radius: 100%;
  background: currentColor;
  opacity: 0.5;
  animation: zen-dots-blink 1.2s infinite both;
}

.zen-dot:nth-child(1) {
  animation-delay: 0s;
}

.zen-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.zen-dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes zen-dots-blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
