.zen-popover[data-placement="top"] {
  --origin: translateY(8px);
}

.zen-popover[data-placement="bottom"] {
  --origin: translateY(-8px);
}

.zen-popover[data-placement="right"] {
  --origin: translateX(-8px);
}

.zen-popover[data-placement="left"] {
  --origin: translateX(8px);
}

.zen-popover[data-entering] {
  animation: zen-popover-slide 200ms;
}

.zen-popover[data-exiting] {
  animation: zen-popover-slide 200ms reverse ease-in;
}

@keyframes zen-popover-slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
