.field {
  display: flex;
  flex-direction: column;
}

.description {
  line-height: 1.8rem;
  font-size: var(--font-size);
}

.error {
  color: var(--danger-color);
  line-height: 2rem;
  font-weight: 600;
}
